.idea/
.dart_tool/
build/
.DS_Store
*.iml
.metadata
.packages
.pub-cache/
.pub/
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
web/flutter_bootstrap.js

